// element absolute centered
@mixin absolute-el($top, $right, $bottom, $left, $x, $y) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($x, $y);
}

// element centered with Flexbox
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}