@use "../utilities/functions";
@use "../utilities/variables";

/*-----------------------------------*\
                                FORM
\*-----------------------------------*/

.modal {
    width: functions.rem(669);
    mix-blend-mode: normal;
    filter: variables.$shadow-modal;
    background: variables.$secondary-color;
    border-radius: variables.$radius-box;
    padding: functions.rem(35);
    margin: 0 auto;
    &_header {
        display: flex;
        justify-content: space-between;
    }
    &_cross-close {
        font-size: functions.rem(50);
        color: variables.$primary-color;
        display: block;
        padding-top: functions.rem(15);
        cursor: pointer;
    }
    &_title {
        font-size: functions.rem(64);
        font-weight: 400;
        color: variables.$txt-modal-title;
    }
    .form-data {
        font-size: functions.rem(36);
        color: #312E2E;
    }
    &_body input {
        height: 68px;
        width: 100%;
        font-size: 2rem;
        border: none;
        background: variables.$bg-body;
        border-radius: variables.$radius-box;
        font-style: normal;
        font-weight: 400;
        padding: functions.rem(10);
        color: variables.$primary-color;
        &:active,
        &:focus {
            outline-color: variables.$primary-color;
        }
        &:not(:focus):invalid {
            background-color: variables.$bg-error-form;
            color: variables.$txt-white-error-form;
            animation: headshake 100ms cubic-bezier(.4, .1, .6, .9) 2;
        }
    }
    &_body textarea {
        font-size: 1.5rem;
        width: 100%;
        border: none;
        background: variables.$bg-body;
        border-radius: variables.$radius-box;
        font-style: normal;
        font-weight: 400;
        padding: functions.rem(10);
        color: variables.$primary-color;
        resize: none;
        &:focus {
            outline-color: variables.$primary-color;
        }
    }
}

$shake-intensity: 1%;
@keyframes headshake {
    25% {
        // entièrement à droite
        transform: translateX($shake-intensity);
    }
    75% {
        // entièrement à gauche
        transform: translateX($shake-intensity * -1);
    }
}


/*---------------------------------------*\
                                CLOSE BTN
\*---------------------------------------*/

.outer {
    position: relative;
    width: 65px;
    cursor: pointer;
}

.inner {
    width: inherit;
    text-align: center;
}

.close-label {
    font-size: 0.5em;
    line-height: 2.7em;
    text-transform: uppercase;
    color: variables.$txt-para;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
    position: relative;
    right: 15px;
}

.inner:before,
.inner:after {
    position: absolute;
    content: '';
    height: 5px;
    width: inherit;
    background: #000000;
    left: 0;
    transition: all .2s ease-in;
}

.inner:before {
    top: 47%;
    transform: rotate(50deg);
}

.inner:after {
    bottom: 47%;
    transform: rotate(-50deg);
}

.outer:hover .close-label {
    opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
    transform: rotate(0);
}

.outer:hover .inner:before {
    top: 0;
    left: 0;
}

.outer:hover .inner:after {
    bottom: 0;
    left: 0;
}